
body {
background-image: url(https://preview.redd.it/zbcfsv2skfk61.png?width=960&crop=smart&auto=webp&s=175a1ff68dbee831e56a6feb92b6a3946191f0f6);
background-size: 110%;

}



 
h1 {
display: flex; 
justify-content: center;
font-family: fantasy;
text-align: center;
-webkit-text-fill-color: aliceblue;
text-shadow: 2px 2px 5px rgb(7, 0, 0);

}

p {
font-family: fantasy;
-webkit-text-fill-color: aliceblue;
text-align: center;
text-shadow: 2px 2px 5px rgb(7, 0, 0);
font-size: x-large
}


tr:hover {
background-color: darkslategray;
empty-cells: show;
} 


#buttons {
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: space-between;

}

#score {
display: flex;
justify-content: center;
align-items: flex-end;

}
